<section class="top-0 left-0 z-50 sticky bg-slate-100">
    <div class="w-full p-2 px-4">
        <h1 class="text-xl text-pretty">
            @if(activePostId > 0) {
            Active Post Id : {{activePostId}}
            }
            @else {
            No Post selected
            }
        </h1>
    </div>
</section>

<section class="p-2 mt-2">
    <div class="grid grid-cols-4 md:grid-cols-10  md:gap-2" id="postRender">
        @for(post of ($posts|async); track post.id) {
        <div class="col-span-1">
            <app-post-id [post]="post"></app-post-id>
        </div>

        }
    </div>
</section>